In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [12]:
url='https://www.finder.com/in/netflix-tv-shows'
page = requests.get(url)

In [13]:
doc = lh.fromstring(page.content)

In [14]:
tr_elements = doc.xpath('//tr')

In [15]:
[len(T) for T in tr_elements[:12]]

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [16]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Title"
2:"Year of release"
3:"Genres"
4:"Watch it"

In [17]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=4:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [18]:
[len(C) for (title,C) in col]

[1661, 1661, 1661, 1661]

In [19]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [20]:
df.head()

,Title,Year of release,Genres,Watch it
0,12 MonkeysSeason 1 (13 episodes)Season 2 (13 e...,2016,TV Sci-Fi & Fantasy TV Mysteries TV Dramas US ...,Watch now
1,12 Years PromiseSeason 1 (26 episodes),2014,TV Comedies TV Dramas Romantic TV Shows Korean...,Watch now
2,13 Reasons WhyOriginalSeason 1 (13 episodes)Se...,2018,TV Mysteries TV Dramas Crime TV Dramas Crime T...,Watch now
3,13 Reasons Why: Beyond the ReasonsOriginalSeas...,2018,Documentaries Crime Documentaries Docuseries C...,Watch now
4,1983OriginalSeason 1 (8 episodes),2018,TV Mysteries TV Dramas Political TV Shows Crim...,Watch now

In [11]:
df.to_csv('Netflix Movies.csv')